<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>com.totalsegmentator.horosplugin</string>
        <key>CFBundleName</key>
        <string>TotalSegmentatorHorosPlugin</string>
        <key>NSPrincipalClass</key>
        <string>TotalSegmentatorHorosPlugin</string>
        <key>pluginType</key>
        <string>imageFilter</string>
        <key>MenuTitles</key>
        <array>
                <string>Run TotalSegmentator</string>
                <string>TotalSegmentator Settings</string>
        </array>
</dict>
</plist>
